<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-4">
                <h4 class="title">Order Detail</h4>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-6"></div>
            </div>
          </div>
          <hr>
          <div class="content table-responsive table-full-width">
            <table class="table table-striped" >
              <thead>
              <tr><th>Order Id</th><td>{{getList.orderId}}</td></tr>
              <tr><th>Charge Id</th><td>{{getList.chargeId}}</td></tr>
              <tr><th>Destination Address</th><td>{{getList.destinationAddress}}</td></tr>
              <tr><th>Time Slot</th><td>{{getList.timeSlot}}</td></tr>
              <tr><th>Total</th><td>{{getList.totalAmount.toFixed(2)}}</td></tr>
              <tr><th>User Name</th><td>{{getList.userId.name}}</td></tr>
              <tr><th>Car Type</th><td>{{getList.carType.vehicleName}}</td></tr>
              <tr><th>Coupon Used</th><td>{{getList.couponUsed}}</td></tr>
              <tr><th>Delivery Day</th>  <td>
                <span *ngIf="getList.deliveryDay == 0">URGENT </span>
                <span *ngIf="getList.deliveryDay == 1">SAME DAY</span>
                <span *ngIf="getList.deliveryDay == 2">NEXT DAY</span>
              </td></tr>
              <tr><th>Delivery Instruction</th><td>{{getList.deliveryInstruction}}</td></tr>
              <tr><th>Discount</th><td>{{getList.discount}}</td></tr>
              <tr><th>Order Status</th>     <td> 
                  <span *ngIf="getList.orderStatus == 0">New Order</span>
                  <span *ngIf="getList.orderStatus == 1">Driver Assigned</span>
                  <span *ngIf="getList.orderStatus == 2">Order Accepted</span>
                  <span *ngIf="getList.orderStatus == 3">Order Dispatched</span>
                  <span *ngIf="getList.orderStatus == 4">Order Delivered</span>
            </td></tr>
              <tr><th>Pickup Location</th><td>{{getList.pickupLocation}}</td></tr>
              <tr><th>Reciever Name</th><td>{{getList.recieverName}}</td></tr>
              <tr><th>Reciever Phone</th><td>{{getList.recieverPhone}}</td></tr>
              <tr><th>Sender Name</th><td>{{getList.senderName}}</td></tr>
              <tr><th>Sender Phone</th><td>{{getList.senderPhone}}</td></tr>
              <tr><th>Created At</th><td>{{getList.createdAt | date:'yyyy-MM-dd hh:mm a'}}</td></tr>
              </thead>
            </table>
            <div class="mt-3">
              <button class="btn btn-primary" routerLink="/dashboard/orders">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


