<div class="wrapper">
  <app-side-bar></app-side-bar>
  <div class="main-panel">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <!-- <app-footer (routeChange)="checkUrl($event)"></app-footer> -->
  </div>
</div>
