<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-4">
                <h4 class="title">Users List</h4>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <input type="text" class="form-control border-input" [(ngModel)]="paginationBody.searchText" (keyup)="getUserList()" name="search" placeholder="Search By Name, Email, Phone Number..."> -->
                </div>
              </div>
              <!-- <div class="col-md-2 pull-right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">+ Add User</button>
              </div> -->
            </div>
          </div>
          <hr>
          <div class="content table-responsive table-full-width">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Subscription</th>
                <th>Subscription Status</th>
                <th>Plan</th>
                <th>Plan Trial</th>
                <th>Subscription Renew Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of userList; let i = index">
                <td>{{i + serialNumber + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.mobile_number}}</td>
                <td>
                  <span *ngIf="!item.status">Unsubscribed</span> 
                  <span *ngIf="item.status">{{item.subscription_details.is_subscribed == true?'Subscribed':'Unsubscribed'}}</span> 
                  </td>
                <td>
                  <span *ngIf="!item.status">Unsubscribed</span> 
                  <span *ngIf="item.status">{{item.paying_status == true?'Subscribed':'Canceled'}}</span> 
                  </td>
                <td>
                  <span *ngIf="item.subscription_details.is_subscribed == true">{{item.subscription_details.current_plan}}</span>
                  <span *ngIf="item.subscription_details.is_subscribed == false">No Plan</span>
                </td>
                <td>{{item.subscription_details.is_trial == true?'Yes':'No'}}</td>
                <td>{{item.subscription_details.next_payment_date | date:'MMM dd, y'}}</td>
                <td><button class="btn btn-success" (click)="goToDetail(item)">View Detail</button>
                <button *ngIf="item.subscription_details.is_subscribed == true" class="btn btn-success" (click)="updateStatus(item,i)">Update Status</button></td>
              </tr>
              </tbody>
            </table>
            <hr *ngIf="!userList.length">
            <h4 *ngIf="!userList.length" class="text-center">No Items found.</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-12">
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true" [length]="totalItems" [pageIndex]="currentPage" (page)="pageChanged($event)"></mat-paginator>
      </div>
    </div>
  </div>
</div>


<div id="updateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Status</h4>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
          <div class="form-group">
            <label>Android App Status</label>
            <select class="form-control" name="android_app_status" [(ngModel)]="android_app_status" (change)="android_app_statusF($event.target.value)" required>
              <option value="1">Order Received</option>
              <option value="2">Making The App</option>
              <option value="3">App Under Review</option>
              <option value="4">App Live</option>
            </select>
          </div>

          <div class="form-group" *ngIf="android_app_status == 4">
            <label>Android App Status</label>
            <input type="text" class="form-control" name="android_app_link" [(ngModel)]="android_app_link" >
          </div>
          <div class="form-group">
            <label>IOS App Status</label>
            <select class="form-control" name="ios_app_status" [(ngModel)]="ios_app_status" (change)="ios_app_statusF($event.target.value)" required>
              <!-- <option value="0" *ngIf="ios_app_status < 1">Not Subscribed</option>
              <option value="1" *ngIf="ios_app_status < 2">Order Received</option>
              <option value="2" *ngIf="ios_app_status < 3">Making The App</option>
              <option value="3" *ngIf="ios_app_status < 4">App Under Review</option>
              <option value="4" *ngIf="ios_app_status <= 4">App Live</option> -->
              <option value="1">Order Received</option>
              <option value="2">Making The App</option>
              <option value="3">App Under Review</option>
              <option value="4">App Live</option>
            </select>
          </div>
          <div class="form-group" *ngIf="ios_app_status == 4">
            <label>IOS App Status</label>
            <input type="text" class="form-control" name="ios_app_link" [(ngModel)]="ios_app_link" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"  (click)="update()">{{flags.isAdded?'Updating...':'Update'}}</button>
        <button type="button" class="btn btn-default" id="closeAddUserModal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

