<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li *ngFor="let item of menuList;">
          <a href="javascript:void(0)" routerLink="{{item.path}}" >
            {{item.title}}
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
    </div>
  </div>
</footer>
