<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="">

          <button class="" (click)="openNav()" id="open"> <i class="fa text-dark" style="font-size:24px"></i></button>
         
            <!-- <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button> -->
          <div class="">
            <a class="navbar-brand" href="javascript:void(0)">
              <img src="https://bellymelly.com/app/assets/images/logo.png" class="img-fluid">
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" style="font-size: 20px;"></i> (<b>{{notificationCount}}</b>)</a>
                <ul *ngIf="notificationData.length > 0" class="dropdown-menu notify-drop">
                  <div class="drop-content">
                    <li *ngFor="let val of notificationData;let i = index;">
                      <div class="col-md-12 col-sm-12 col-xs-12"> {{val.messageType}} 
                        <p>{{val.message}}</p>
                      </div>
                    </li>
                  </div>
                  <div class="notify-drop-footer text-center">
                    <a href="javascript:void(0)" routerLink="notification"><i class="fa fa-eye"></i> See all</a>
                  </div>
                </ul>
              </li> -->
              <li>
                <a href="javascript:void(0)" (click)="logout()" class="text-dark">
                  <i class="fa fa-sign-out"></i>
                  <p class="text-dark">Logout</p>
                </a>
              </li>
            </ul>
          </div>
         
    </div>

  </div>
</nav>
