<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="title">Notifications</h4>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                  <div class="form-group">
                  </div>
                </div>
                <div class="col-md-2 pull-right">
                  <button *ngIf="notificationList.length > 0" class="btn btn-primary" (click)="deleteNotificationsF()"> Delete all notifications</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Message</th>
                </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let item of notificationList; let i = index">
                  <td>{{i +  1}}</td>
                  <td>{{item.message}}</td>
                </tr> 
                </tbody>
              </table>
              <hr *ngIf="!notificationList.length">
              <h4 *ngIf="!notificationList.length" class="text-center">No Items found.</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-12 col-12">
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true" [length]="totalItems" [pageIndex]="currentPage" (page)="pageChanged($event)"></mat-paginator>
        </div>
      </div> -->
    </div>
  </div>
  
 