<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="title">User Profile</h4>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6"></div>
              </div>
            </div>
            <hr>
            <div class="content table-responsive table-full-width">
              <table class="table table-striped" >
                <thead>
                <tr><th>Name</th> <td>{{userList[0].name}}</td></tr>
                <tr><th>Email</th><td>{{userList[0].email}}</td></tr>
                <tr><th>Phone</th><td>{{userList[0].phone}}</td></tr>
                <tr><th>City</th><td>{{userList[0].city}}</td></tr>
                <tr><th>Address Line 1</th><td>{{userList[0].addressLine1}}</td></tr>
                <tr><th>Address Line 2</th><td>{{userList[0].addressLine2}}</td></tr>
                <tr><th>Postal Code</th><td>{{userList[0].zipCode}}</td></tr>
                <tr><th>Province</th><td>{{userList[0].state}}</td></tr>
                <tr><th>Created At</th><td>{{userList[0].createdAt | date:'yyyy-MM-dd hh:mm a'}}</td></tr>
                </thead>
              </table>
              <div class="mt-3">
                <button class="btn btn-primary" routerLink="/dashboard/users">Back</button>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  