.main{
  width: 100%;
  height: 100%;
  /* background: -webkit-linear-gradient(left, rgba(0, 168, 255, 0.8), rgba(185, 0, 255, 0.74)); */
  display: table;
  background-image: linear-gradient( 90.1deg,  rgba(132,94,194,1) 2.3%, rgba(255,111,145,1) 98.4% );
}
.main .main-inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100vh;
}
.login-box{
  background: #fff;
  padding: 30px;
  color: rgba(35, 35, 35, 1);
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);

}
.img-sec img{
  max-width: 20%;
  margin-bottom: 15px;
}
.btn-dark {
  background: rgba(35, 35, 35, 1);
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  padding: 12px 25px;
  letter-spacing: 2px;
}
.btn-dark:hover{
  color: #ffffff;
}
.input100 {
  /* border-left: 5px solid #999999; */
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 57px;
  padding: 0 30px 0 68px;
  border-radius: 35px;
}
.input:-internal-autofill-selected{
  background: #e6e6e6 !important;
}
::placeholder {
  color: #686868;
 
}
form{
  margin-top: 30px;
  margin-bottom: 30px;
}
.login100-form-btn :hover{
  color: white !important;
}
.login100-form-btn {
  
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  border-radius: 35px;
  background: #57b846;
  display: flex;
  border:0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  margin-top: 43px;
  margin-bottom: 25px;
  /* box-shadow: 0px 0px 10px 10px black; */
}
.login100-form-btn :hover{
  background: #57b846 !important;
  color: #fff !important;
}
.symbol-input100 {
  font-size: 19px;
  color: #999;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 17px;
  padding-bottom: 1px;
  pointer-events: none;
  transition: all .4s;
}
.icon-box {
  width: 35px;
    height: 35px;
    background: #999999;
    border-radius: 100%;
}
.icon-box i{
  padding: 12px;
  color: white;
  font-size: 17px;
  line-height: 8px;
}
.login-t{
  font-weight:800 !important;
  margin-top: 10px;
  color: #878686;
  font-size: 34px;
}
.form-control:focus{
  box-shadow: inset 0 1px 1px rgba(35, 35, 35,.075), 0 0 8px rgba(35, 35, 35,.6);
  border-color: rgba(35, 35, 35, 1);
  background: #ffffff;
}
.user-row{
  margin-bottom: 18px ;
  position: relative;
}
.form-control:active{
  box-shadow: inset 0 1px 1px rgba(35, 35, 35,.075), 0 0 8px rgba(35, 35, 35,.6);
  border-color: rgba(35, 35, 35, 1);
  background: #ffffff;
}
