<div class="main">
  <div class="main-inner">
    <div class="img-sec text-center">
      <!-- <img src="assets/img/logo.png" class="img-responisve"> -->
    </div>
    <div class="login-box">
     
            <div class=" text-center">
              <h2 class="login-t">LOGIN</h2>
            </div>
       
      <form #loginForm="ngForm">
        
        <div class="form-group user-row">
          <!-- <label class="">USER NAME</label> -->
          <input type="text" class="form-control input100" placeholder="User Name" name="email" [(ngModel)]="loginBody.email" required />
          <span class="symbol-input100">
            <span class="icon-box"><i class="fa fa-user" aria-hidden="true"></i></span>
              
              </span>
        </div>
        <div class="form-group" style="position: relative;">
          <!-- <label>Password</label> -->
          <input type="password" class="form-control input100" name="password" placeholder="Password" [(ngModel)]="loginBody.password" required />
          <span class="symbol-input100">
              <span class="icon-box">
              <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
              </span>
        </div>
        <div class="text-right">
          <button class="btn login100-form-btn text-white" [disabled]="!loginForm.valid || flags.isLogin" (click)="login()">{{flags.isLogin?'Please Wait..':'Login'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
