<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="title">User Detail</h4>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6"></div>
              </div>
            </div>
            <hr>
            <div class="content table-responsive table-full-width">
              <h3>User Detail</h3>
              <table class="table table-striped" >
                <thead>
                <tr><th>User Name</th><td>{{getList.name}}</td></tr>
                <tr><th>Email</th><td>{{getList.email}}</td></tr>
                <tr><th>Mobile Number</th><td>{{getList.mobile_number}}</td></tr>
                </thead>
              </table>

              <h3>Restaurant Detail</h3>
              <table class="table table-striped" >
                <thead>
                <tr><th>Restaurant Name</th><td>{{getList.restaurant.name}}</td></tr>
                <tr *ngIf="getList.status"><th>Mobile Number</th><td>{{getList.restaurant.mobile_number}}</td></tr>
                <tr *ngIf="getList.status"><th>Website</th><td>{{getList.restaurant.website}}</td></tr>
                <tr *ngIf="getList.status">
                  <th>Services</th>
                  <td>
                      <span class="label label-inline" style="margin-right: 5px;" *ngFor="let val of getList.restaurant.available_services;let i = index">{{val}}</span>
                  </td>
              </tr>
                </thead>
              </table>

              <h3 *ngIf="getList.status">Subscription Detail</h3>
              <table class="table table-striped" *ngIf="getList.status">
                <thead>
                  <tr><th>Subscription</th><td>{{getList.subscription_status == true?'Subscribed':'Unsubscribed'}}</td></tr>
                  <tr><th>Subscription Status</th><td>{{getList.paying_status == true?'Subscribed':'Cancel By User'}}</td></tr>
                  <tr><th>Plan</th><td>
                    <span *ngIf="getList.subscription_details.is_subscribed == true">{{getList.subscription_details.current_plan}}</span>
                    <span *ngIf="getList.subscription_details.is_subscribed == false">No Plan</span>
                  </td></tr>
                  <tr><th>Plan Trial</th><td>{{getList.subscription_details.is_trial == true?'Yes':'No'}}</td></tr>
                  <tr><th>Subscription Trial End</th><td>{{getList.subscription_details.stripe_trial_end | date:'MMM dd, y'}}</td></tr>
                  <tr><th>Subscription Renew Date</th><td>{{getList.subscription_details.next_payment_date | date:'MMM dd, y'}}</td></tr>
                </thead>
              </table>
              <div class="mt-3">
                <button class="btn btn-primary" routerLink="/dashboard/users">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  