.warning-icon-circle{
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5em;
    height: 5em;
    margin: 1.25em auto 1.875em;
    border: 0.25em solid transparent;
    border-radius: 50%;
    font-family: inherit;
    line-height: 5em;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color: #1BC5BD;
    color: #1BC5BD;
    display: flex;
}
.warning-icon{
    font-size: 3.75em;
}
.btn{
    border: 0;
    border-radius: 0.25em;
    background: initial;
    color: #fff;
    font-size: 1.0625em;
    margin: 0.3125em;
    padding: 0.625em 2em;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 500;
}
.btn.btn-gray{
    background-color:rgb(173, 231, 37);
}
.btn.btn-blue{
    background-color: #3085d6;
}