<router-outlet></router-outlet>

<ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.46)" size="medium" color="#fff" type="line-scale-pulse-out"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div id="confirmationModal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="warning-icon-circle" style="display: flex;">
          <div class="warning-icon"><i class="ti-check"></i></div>
        </div>
        <div class="text-center">
          <!-- <h2 class="text-center">Are you sure?</h2> -->
          <h6>New order has been placed!</h6>
          <!-- <button class="btn btn-gray" data-dismiss="modal" aria-label="Close">No, cancel!</button> -->
          <button class="btn btn-blue" (click)="pauseSound()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
<button style="display: none;" id="play" (click)="playSound()" type="button">Play</button>
<audio #mp3>
  <source src="assets/sound/sound1.ogg" type="audio/ogg">
  <source src="assets/sound/sound1.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>