
.close-icon i{
    display: none;
}
.mobile-logout{
    display: none;
}
.mob{
    display: none;
}
@media (max-width:991px){
    .web{
        display: none;
    }
    .mob{
        display: block;
    }
    .mobile-logout{
        display: block;
    } 
    .sidebar{
        z-index: 999999999999;
        min-height: 100%;
        max-height: 100%;
        overflow-y: auto;
        display: none;
    }
    .close-icon i{
        display: block;
    }
}
.close-icon i{
    position: absolute;
    top: 3px;
    right: 5px;
    color: white;
    font-size: 19px;
    cursor: pointer;
}
