<div class="sidebar" data-background-color="white" data-active-color="danger">
  <div class="sidebar-wrapper web">
    <div class="close-icon">
        <i  class="fa text-white" (click)="closeNav()"></i>
    </div>
    <ul class="nav">
        <li class="mobile-logout">
          <a  (click)="logout()" class="text-dark">
            <i class="fa fa-sign-out"></i>
            <p class="text-dark">Logout</p>
          </a>
        </li>
      <li routerLink="/dashboard/users" routerLinkActive="active"><a href="javascript:void(0)"><i class="ti-user"></i><p>Users</p></a></li>
      <li routerLink="/dashboard/blog" routerLinkActive="active"><a href="javascript:void(0)"><i class="ti-user"></i><p>Blog</p></a></li>
     
      
    </ul>
  </div>

  <div class="sidebar-wrapper mob">
    <div class="logo">
    </div>
    <div class="close-icon">
        <i  class="fa text-white" (click)="closeNav()"></i>
    </div>
    <ul class="nav">
        <li class="mobile-logout">
          <a  (click)="logout()" class="text-dark">
            <i class="fa fa-sign-out"></i>
            <p class="text-dark">Logout</p>
          </a>
        </li>
      <li routerLink="/dashboard/users" routerLinkActive="active"><a href="javascript:void(0)" (click)="closeNav()"><i class="ti-user"></i><p>Users</p></a></li>
      <li routerLink="/dashboard/blog" routerLinkActive="active"><a href="javascript:void(0)" (click)="closeNav()"><i class="ti-user"></i><p>Blog</p></a></li>
     
    </ul>
  </div>
</div>
 