<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="title">Blogs</h4>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- <input type="text" class="form-control border-input" [(ngModel)]="paginationBody.searchText" (keyup)="getUserList()" name="search" placeholder="Search By Name, Email, Phone Number..."> -->
                  </div>
                </div>
                <!-- <div class="col-md-2 pull-right">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">+ Add User</button>
                </div> -->
              </div>
            </div>
            <hr>
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Author</th>
                  <th>Title</th>
                  <th>Content</th>
                  <th>Image</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of userList; let i = index">
                  <td>{{i + serialNumber + 1}}</td>
                  <td>{{item.author}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.content}}</td>
                  <td>{{item.image}}</td>
            
                  <td>
                  <button *ngIf="item.subscription_details.is_subscribed == true" class="btn btn-success" (click)="updateStatus(item,i)">Update Status</button></td>
                </tr>
                </tbody>
              </table>
              <hr *ngIf="!userList.length">
              <h4 *ngIf="!userList.length" class="text-center">No Items found.</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-12">
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true" [length]="totalItems" [pageIndex]="currentPage" (page)="pageChanged($event)"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  