@media (max-width: 767px){
    .title{
      text-align: center;
      margin-bottom: 10px;
    }
    .btn{
      
      margin-bottom: 10px;
    }
    .result-status {
      text-align: left;
    }
  }
  
  .custom-detail {
    padding: 25px;
    text-align: right;
  }
  