@media (max-width: 767px){
    .title{
      text-align: center;
      margin-bottom: 10px;
    }
    .btn{
      width: 100%;
      margin-bottom: 10px;
    }
    .result-status {
      text-align: left;
    }
  }
  
  .custom-detail {
    padding: 25px;
    text-align: right;
  }
  
  time-picker {
    z-index: 1060;
}

li.ng-star-inserted {
  list-style: none;
}
 .head .content{
  padding: 15px 15px 10px 15px;
  background-image: linear-gradient(#FE6725, #FE6B61);
  border-bottom: 4px solid white;
  border-radius: 10px;
  color: white;
}