<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-2"><h4 class="title">Orders</h4></div>
              <div class="col-md-2  col-sm-4">
                <div class="card head">
                  <div class="content">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="numbers">
                          <p>Total</p>
                          {{totalItems}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-2 col-sm-4">
                <div class="card head">
                    <div class="content">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="numbers">
                            <p>Completed</p>
                            {{completedOrders}}
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
               <div class="col-md-2 col-sm-4">
                  <div class="card head">
                      <div class="content">
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="numbers">
                              <p>OnGoing</p>
                              {{onGoingOrders}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div> -->
              <!-- <div class="col-md-4"> 
              <div class="form-group">
                <input type="text" class="form-control border-input" (keyup)="serachList($event.target.value)" name="search" placeholder="Search By Order Number...">
              </div>
              </div> -->
            </div>
          </div>
          <hr>
          <div class="content table-responsive table-full-width">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Order Id</th>
                <th>Total</th>
                <th>User Name</th>
                <th>Driver Name</th>
                <th>Order Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of getList; let i = index">
                <td>{{i + serialNumber + 1}}</td>
                <td>{{item.orderId}}</td>
                <td>{{item.totalAmount.toFixed(2)}}</td>
                <td>{{item.userId.name}}</td>
                <td>{{item.driverId?item.driverId.name:'No Driver Assign'}}</td>
                <td>
                  <span *ngIf="item.orderStatus == 0">New Order</span>
                  <span *ngIf="item.orderStatus == 1">Driver Assigned</span>
                  <span *ngIf="item.orderStatus == 2">Order Accepted</span>
                  <span *ngIf="item.orderStatus == 3">Order Declined</span>
                  <span *ngIf="item.orderStatus == 4">Order Picked</span>
                  <span *ngIf="item.orderStatus == 5">Tracking Ended By Driver</span>
                  <span *ngIf="item.orderStatus == 6">Order Delivered</span>
                  <span *ngIf="item.orderStatus == 7">Cancelled By User</span>
                  <span *ngIf="item.orderStatus == 8">Cancelled By Admin</span>
                </td>

                <!-- // 0 = Placed // 1 = driver assigned // 2 == order accepted
                // 3 = order declined  //4 ==  order picked //5 == tracking ended by driver
                // 6 == order delivered // 7 == cancel by user // 8 == cancel by admin -->

                <td>
                  <span *ngIf="item.orderStatus == 0">
                    <button class="btn btn-success" (click)="assignDriverOpen(item._id,i)">Assign Driver</button>
                  </span>
                  <button class="btn btn-primary" (click)="view(item)">View</button>
                  <button *ngIf="item.orderStatus != 8" class="btn btn-success" (click)="cancelOrderAdmin(item._id,i)">Cancel Order</button>
                </td>
              </tr>
              </tbody>
            </table>
            <hr *ngIf="!getList.length">
            <h4 *ngIf="!getList.length" class="text-center">No Items found.</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-12">
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true" [length]="totalItems" [pageIndex]="currentPage" (page)="pageChanged($event)"></mat-paginator>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="assigndDriverModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select Driver</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      <select class="form-control" (change)="selectDrive($event.target.value)">
        <option disabled selected>Select Driver</option>
        <option *ngFor="let list of driverList;let i= index" value="{{list._id}}"> {{list.name}}</option>
      </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="asignToDriver()">Assign</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>