<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="title">Vehicle Type List</h4>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                  <div class="form-group">
                   
                  </div>
                </div>
              <div class="col-md-2 pull-right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">+ Add vehicle type</button>
              </div>
              </div>
            </div>
            <hr>
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>User Type</th>
                  <th>Name of vehicle </th>
                  <th>Price</th>
                  <th>Day</th>
                  <th>With In Km</th>
                  <th>After Km Price</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of userList; let i = index">
                  <td>{{i + serialNumber + 1}}</td>
                  <td>
                    <span *ngIf="item.userType == 0">Regular user</span>
                    <span *ngIf="item.userType == 1">Buisness user</span>
                    <span *ngIf="item.userType == 2">Vip user</span>
                  </td>
                  <td>{{item.vehicleName}}</td>
                  <td>{{item.price}}</td>
                  <td>
                    <span *ngIf="item.day == 0">Urgent</span>
                    <span *ngIf="item.day == 1">Same Day</span>
                    <span *ngIf="item.day == 2">Next day</span>
                  </td>
                  <td>{{item.withinKm}}</td>
                  <td>{{item.afterKmPrice}}</td>
               <td>
                    <div class=""><button class="btn btn-primary" (click)="edit(item,i)" > Edit</button></div>
                  </td>
                </tr>
                </tbody>
              </table>
              <hr *ngIf="!userList.length">
              <h4 *ngIf="!userList.length" class="text-center">No Items found.</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-12">
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true" [length]="totalItems" [pageIndex]="currentPage" (page)="pageChanged($event)"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  


  <div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add</h4>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm">
            <div class="form-group">
              <label>User Type</label>
              <select class="form-control" name="userType" (change)="userType($event.target.value)" required>
                <option selected value="0">Regular user</option>
                <option value="1">Buisness user</option>
                <option value="2">Vip user</option>
              </select>
            </div>
            <div class="form-group">
              <label>Name of vehicle</label>
              <input type="text" class="form-control border-input" name="vehicleName" [(ngModel)]="addBody.vehicleName"  />
            </div>
            <div class="form-group">
              <label>Price</label>
              <input type="text" class="form-control border-input enterNumber" name="price" [(ngModel)]="addBody.price" required />
            </div>
            <div class="form-group">
              <label>Day</label>
              <select class="form-control" name="day" [(ngModel)]="addBody.day" required>
                <option selected value="0">Urgent</option>
                <option value="1">Same Day</option>
                <option value="2">Next day</option>
              </select>
              <!-- <input type="text" class="form-control border-input enterNumber" name="day" [(ngModel)]="addBody.day" required /> -->
            </div>
            <div class="form-group">
              <label>With In Km</label>
              <input type="text" class="form-control border-input enterNumber" name="withinKm" [(ngModel)]="addBody.withinKm" required />
            </div>
            <div class="form-group">
              <label>After Km Price</label>
              <input type="text" class="form-control border-input enterNumber" name="afterKmPrice" [(ngModel)]="addBody.afterKmPrice" required />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" [disabled]="!addForm.valid || flags.isAdded" (click)="add()">{{flags.isAdded?'Saving...':'Save'}}</button>
          <button type="button" class="btn btn-default" id="closeAddModal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update</h4>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm">
            <div class="form-group">
              <label>User Type</label>
              <select class="form-control" name="userType" [(ngModel)]="updateBody.userType" (change)="userType($event.target.value)" required>
                <option value="0">Regular user</option>
                <option value="1">Buisness user</option>
                <option value="2">Vip user</option>
              </select>
            </div>
            <div class="form-group">
              <label>Name of vehicle</label>
              <input type="text" class="form-control border-input" name="vehicleName" [(ngModel)]="updateBody.vehicleName"  />
            </div>
            <div class="form-group">
              <label>Price</label>
              <input type="text" class="form-control border-input enterNumber" name="price" [(ngModel)]="updateBody.price" required />
            </div>
            <div class="form-group">
              <label>Day</label>
              <select class="form-control" name="day" [(ngModel)]="updateBody.day" required>
                <option selected value="0">Urgent</option>
                <option value="1">Same Day</option>
                <option value="2">Next day</option>
              </select>
              <!-- <input type="text" class="form-control border-input enterNumber" name="day" [(ngModel)]="updateBody.day" required /> -->
            </div>
            <div class="form-group">
              <label>With In Km</label>
              <input type="text" class="form-control border-input enterNumber" name="withinKm" [(ngModel)]="updateBody.withinKm" required />
            </div>
            <div class="form-group">
              <label>After Km Price</label>
              <input type="text" class="form-control border-input enterNumber" name="afterKmPrice" [(ngModel)]="updateBody.afterKmPrice" required />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" [disabled]="!updateForm.valid || flags.isAdded" (click)="update()">{{flags.isAdded?'Updating...':'Update'}}</button>
          <button type="button" class="btn btn-default" id="closeUpdateModal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  