/* You can add global styles to this file, and also import other style files */
.content {
  padding: 30px 15px;
  overflow: auto;
}
.pac-container {
  z-index: 1051 !important;
}
.badge {
  padding: 7px 7px !important;
}
.success {
  background: #5cb85c;
  color: #ffffff;
}
/* button:disabled:hover {
  color: #7A9E9F;
} */
.main-panel {
  background-color: #f5f5f5;
  position: relative;
  z-index: unset !important;
  /*float: right;*/
  /*width: calc(100% - 260px);*/
  -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.riddle-modal {
  max-height: 600px;
  overflow-y: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.canvasjs-chart-toolbar {
  display: none;
}


a.canvasjs-chart-credit {
  display: none;
}


i {
  font-size: 28px;
}


/* 
.goog-te-banner-frame {
display: none
}


.skiptranslate.goog-te-gadget span {
  display: none;
} */
#time-picker-wrapper {
  z-index: 1051 !important;
}
.time-input{
  width: 120px;
}
@media (max-width: 991px){
  .table-responsive {
    width: 100%;
    margin-top: 15px !important;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}
}
.nav-mobile-menu{
  display: none;
}



/* 

.clndr .daterangepicker:after {
  content: unset;
} */
@media (max-width:1280px){
  .daterangepicker{
      overflow: auto;
      max-height: 100%;
      top: 100px !important;
  }
}
@media (max-width:575px){
  .daterangepicker{
      overflow: auto;
      max-height: 100%;
      top: 0 !important;
  }
}